
/* <------------------- General Section Settings -------------------> */

.sectionContainer {
    /* min-height: 100vh; */
    background-color: #1f3145;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    align-items: center;
    padding: 10px 0; /* بدل 120px */
    margin-bottom: 2.5rem;

}


/* <------------------- Portfolio Section -------------------> */

.portfolioBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
}

.sectionTitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    color: white;

}

.bigText {
    font-size: 50px;
    font-weight: 600;
    color: white;

}

/* .smallText {
    font-size: 22px;
    font-weight: 300;
    color: #5c3d2c;

} */

.picturesBlock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 0 40px;
  }
  
  .imgDiv {
    width: 100%;
    height: 100%;
  }

  .appartmentImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .imgWide {
    grid-column: span 2;
    height: 250px;
  }
  
  .imgTall {
    height: 500px;
  }
/* <------------------- Feedback Section -------------------> */

.feedbackBlock {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}


/* <------------------- Regulate the responsive behavior -------------------> */

@media screen and (max-width: 1300px) {
    
    .picturesBlock {
        grid-template-columns: 1fr; /* عمود واحد */
        padding: 0 20px;
        gap: 15px;
      }
    
    .imgDiv {
        width: 100%;
    }
    .imgWide {
        grid-column: span 1; /* نلغي التمدد */
        height: 200px; /* نضبط الارتفاع بشكل مناسب */
      }
    
      .imgTall {
        height: 300px;
      }
}

@media screen and (max-width: 980px) {

    .sectionContainer {
        row-gap: 80px;
        padding: 60px 0; /* بدل 120px */

    }

    .bigText {
        font-size: 2.2rem;

        color: white;
    }

}

@media screen and (max-width: 640px) {
.sectionContainer{
    padding: 40px 0; /* بدل 120px */

}
.picturesBlock {
    grid-template-columns: 1fr; /* عمود واحد */
    padding: 0 20px;
    gap: 15px;
  }

    .imgDiv {
        padding-bottom: 5px;
    }
    .imgWide {
        grid-column: span 1; /* نلغي التمدد */
        height: 200px; /* نضبط الارتفاع بشكل مناسب */
      }
    
      .imgTall {
        height: 300px;
      }

}