
/* <------------------- General Section Settings -------------------> */

.sectionContainer {
    /* min-height: 100vh; */
    background-color: #1f3145;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    align-items: center;
    padding: 10px 0; /* بدل 120px */

}


/* <------------------- Portfolio Section -------------------> */

.portfolioBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
}

.sectionTitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    color: white;

}

.bigText {
    font-size: 50px;
    font-weight: 600;
    color: white;

}

/* .smallText {
    font-size: 22px;
    font-weight: 300;
    color: #5c3d2c;

} */

.picturesBlock {
    column-count: 3;
    column-gap: 20px;

}

.imgDiv {
    width: 374px;
    padding-bottom: 15px;

}

.appartmentImg {
    width: 100%;
    border-radius: 10px;

}


/* <------------------- Feedback Section -------------------> */

.feedbackBlock {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}


/* <------------------- Regulate the responsive behavior -------------------> */

@media screen and (max-width: 1300px) {
    
    .picturesBlock {
        column-count: 2;
        padding: 0 80px;
    }
    
    .imgDiv {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {

    .sectionContainer {
        row-gap: 80px;
        padding: 60px 0; /* بدل 120px */

    }

    .bigText {
        font-size: 40px;
        font-weight: 600;
        color: #5c3d2c;
    }

}

@media screen and (max-width: 640px) {
.sectionContainer{
    padding: 40px 0; /* بدل 120px */

}
    .picturesBlock {
        padding: 0 20px;
        column-gap: 10px;
    }

    .imgDiv {
        padding-bottom: 5px;
    }

}