.footerContainer {
    background: rgb(174,160,149);
    padding: 135px 0;
    position: relative;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    color: white;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.telephones {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.telNumber {
    font-weight: 500;
}

.socialsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 25px;
    font-weight: 500;
}

.socialLogos {
    display: flex;
    column-gap: 10px;
    padding-right: 10px;
}

.gitLogo, .linkedinLogo {
    width: 40px;
    transition: all 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
}

.gitLogo:hover, .linkedinLogo:hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}

.brandBlock {
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: rgb(250, 90, 10);
}
.socialIcon {
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 50px;
    color: #5c3d2c;

}

.socialIcon:hover {
    transform: scale(1.1);
}
/* ......موبايل */
@media screen and (max-width: 768px) {
    .footerContainer {
      padding: 60px 20px;
    }
  
    .title {
      font-size: 28px;
    }
  
    .telephones {
      font-size: 18px;
    }
  
    .socialsBlock {
      font-size: 20px;
    }
  
    .socialIcon {
      font-size: 36px;
    }
  
    .brandBlock {
      position: static;
      margin-top: 30px;
    }
  }
  