.container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
  }
  
  .whatsappBtn {
    background-color: #d2b5a0;
    border: none;
    border-radius: 50% !important;
    padding: 0; /* إلغاء padding لتجنب زيادة الحجم غير المرغوب فيه */
    width: 55px; /* عرض ثابت للزر */
    height: 55px; /* ارتفاع ثابت للزر */
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .whatsappBtn:hover {
    transform: scale(1.1);
  }
  
  .whatsappIcon {
    color: white;
    font-size: 30px;
  }
  