.container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
  }
  
  .whatsappBtn {
    background-color: #d2b5a0;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .whatsappBtn:hover {
    transform: scale(1.1);
  }
  
  .whatsappIcon {
    color: white;
    font-size: 30px;
  }
  