.container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
  }
  
  .whatsappBtn {
    background-color: #25D366;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }
  
  .whatsappBtn:hover {
    transform: scale(1.1);
  }
  
  .whatsappIcon {
    color: white;
    font-size: 45px;
  }
  